# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
jspm_packages/

# IDE e Editores locais
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Builds do Electron
dist/
build/
out/
release/

# Variaveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporarios
.temp/
.tmp/
tmp/

# App Data do WebAgent
totvs-web-app-data/
GPUCache/
